.App {
  background: linear-gradient(to top, #edb5f3 5%, #e99eeb 15%,#c562c5 );
  color: rgb(0, 0, 0);
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

/*CSS del Footer*/

.footer{
  position: relative;
  background-color: #f4edffb6;
  align-content: bottom;
}

p.Spamming{
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  padding: auto;
}

.Sociales-titulo{
  font-size: 32px;
  font-weight: 400;
  font-style: oblique;
}

.Sociales{
  padding: 15px 30px;
}
a{
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a:hover{
  transform: translateY(-2px);
}

a.facebook{
  color:#00538b
}

a.instagram{
  color:darkmagenta
}

/*------------------------------*/

.carta{
  border: 1px solid #fff;
  overflow: hidden;
  border-radius: 16px;
  background: black;
  align-items: center;
}

.content {
  flex: 1;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 20px;
  background-color: #bffb92;
}


.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-menu {
  display: flex;
}

.nav-menu li {
  margin-right: 20px;
  font-size: 18px;
}

.nav-menu li:last-child {
  margin-right: 0;
}

.nav-menu a {
  color: white;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.nav-menu a:hover {
  color: #66b3ff;
}

button {
  background-color: #6498d7; /* un azul vivo */
  color: white;
  align-self: self-end;
  font-size: 16px;
  padding: 10px 20px;

  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.Submiting{
  align-self: center;
}

button:hover {
  background-color: #075998; /* un azul más claro */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}



label {
  font-size: 16px;
  position: sticky;
  align-self: self-start;
  color: #ffffff;
}


.popup-content {
  display: flex;
  align-self: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #2980b9, #49acee);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin: auto;
  max-width: 1000px;
  width: 100%;
  
}

.popup-content form {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.popup-content input,
.popup-content select,
.popup-content textarea {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  font-size: 18px;
  width: 100%;
}
